@use '../../../base' as *;

.button-primary {
  padding: $spacing-regular !important;
  border-radius: $border-radius-regular;
  background-color: $primary !important;
  color: $white !important;
  font-weight: $fw-medium;
  cursor: pointer;
  min-width: 100px;
  max-width: 180px;

  & {
    @include flex(center, center, $gap: $spacing-xs);
  }

  &_loading--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-xs;

    &:hover {
      cursor: pointer;
    }
  }

  &_static--text:hover {
    cursor: pointer;
  }

  &__login {
    width: 100%;
    max-width: 100%;
  }
}
