NODE_ENV=production
BUILD_TARGET=prod
PORT=3000

# App configuration
NEXT_PUBLIC_APP_URL=https://www.domain.fr
NEXT_PUBLIC_APP_URL_CANONICAL=https://domain.fr

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://www.domain.fr

# Database
DATABASE_URL=

# Docker config
COMPOSE_BAKE=true