# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next-sitemap
robots.txt
sitemap.xml
sitemap-*.xml

# prisma
/src/app/generated/**


# Ignorer les bases de données SQLite de développement Prisma
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# Ignorer les migrations non finalisées
!prisma/migrations/*/.gitkeep