@use '../../base' as *;
@use 'sass:color';

.layout {
  height: 100dvh;
  padding: $spacing-md;
  background: $white !important;

  &__sidebar,
  &__main-content__content,
  &__main-content__breadcrumb {
    background: $white !important;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
  }

  &__sidebar {
    max-width: 275px !important;
    min-width: 275px !important;
    width: 275px !important;
    padding: $spacing-xl $spacing-md !important;

    &__logo {
      padding: $spacing-lg $spacing-xl;
      padding-top: 0;
    }

    .ant-menu {
      border-inline-end: 0 !important;
    }

    .ant-menu-item {
      & > * {
        cursor: pointer;
      }
      &:hover {
        background-color: color.change($primary, $alpha: 0.05) !important;
        color: $primary !important;
      }
      &-selected,
      &-active {
        background-color: color.change($primary, $alpha: 0.1) !important;
        color: $primary !important;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu-title,
    .ant-menu-item-group-title {
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      font-family: $base-font-family !important;
      font-weight: $fw-medium !important;
    }
  }

  &__main-content {
    & {
      margin-left: $spacing-md;
      background: $white !important;
    }

    &__breadcrumb {
      margin-bottom: $spacing-md;
      padding: $spacing-md $spacing-xl !important;

      .ant-breadcrumb-link {
        @include flex(center, center, $gap: $spacing-sm);

        & {
          font-family: $base-font-family !important;
          font-weight: $fw-medium !important;
        }
      }
    }

    &__content {
      padding: $spacing-xxl;
      overflow-x: hidden !important;

      h2 {
        font-size: $fs-lg;
        font-weight: $fw-semibold;
        padding-bottom: $spacing-lg;
        @include flex(flex-start, center, $gap: $spacing-sm);
      }
    }
  }
}
