@use '../../base' as *;
@use 'sass:color';

.custom-sidebar {
  background: $white !important;

  &__logo {
    padding: $spacing-lg $spacing-xl;
  }

  .ant-menu-item {
    & > * {
      cursor: pointer;
    }
    &:hover {
      background-color: color.change($primary, $alpha: 0.05) !important;
      color: $primary !important;
    }
    &-selected,
    &-active {
      background-color: color.change($primary, $alpha: 0.1) !important;
      color: $primary !important;
    }
  }
}
