@use '../../base' as *;
@use 'sass:color';

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius-sm;
  overflow: hidden;
  box-shadow: $box-shadow-sm;

  th,
  td {
    padding: $spacing-md;
    text-align: left;
    color: $primary;
  }
}
