@use './mixins' as *;
@use './variables' as *;

::-moz-selection {
  -webkit-text-fill-color: $select-color;
  color: $select-color;
  background-color: $select-bg-color;
}
::selection {
  -webkit-text-fill-color: $select-color;
  color: $select-color;
  background-color: $select-bg-color;
}
img::-moz-selection {
  background-color: transparent;
}
img::selection {
  background-color: transparent;
}

/*
 ** HTML & Body
 */

body,
html,
* {
  cursor: auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

html {
  font-size: 16px;

  @media (max-width: $bkp-xl) {
    font-size: 15px;
  }
  @media all and (max-width: $bkp-l) {
    font-size: 14px;
  }
  @media (max-width: $bkp-m) {
    font-size: 13px;
  }
  @media (max-width: $bkp-s) {
    font-size: 13px;
  }
  @media (max-width: $bkp-xs) {
    font-size: 12px;
  }
}

body {
  font-family: $base-font-family !important;
  font-weight: $base-font-weight !important;
  font-style: normal !important;
  font-size: $base-font-size !important;
  color: $base-color !important;
  background-color: $base-bg-color !important;
  height: 100%;
  min-height: 100vh;
}

* {
  line-height: 1;
}

/*
 ** Text
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  @include title($fs-xxl, $fw-light, normal, normal);
  font-family: $ff-serif !important;
  font-weight: $fw-semibold !important;
}

h2 {
  font-size: $fs-lg;
}
h3 {
  font-size: $fs-md;
}
h4 {
  font-size: $fs-regular-lg;
}
h5 {
  font-size: $fs-regular;
}
h6 {
  font-size: $fs-regular-sm;
}

p {
  @include text($base-font-size, $fw-regular, normal, normal, inherit);
}

a {
  color: $base-color;
  text-decoration: none;
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

ul,
ol {
  list-style-position: outside;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;

  li::marker {
    font-weight: $fw-medium;
  }
}
li {
  &::marker {
    font-family: $ff-sans-serif !important;
  }
}

strong {
  font-weight: $fw-medium !important;
}

em {
  font-style: italic !important;
}

button {
  all: unset;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
