/*
 ** ====================================================
 ** Colors
 ** ====================================================
 */

/* Primary Colors */
$primary: #131313;

/* Secondary Colors */
$secondary: #ffffff;

/* Neutrals */
$black: #131313;
$white: #ffffff;

/* Grays */
$grey: #d1d1d1;

/* Selection colors */
$select-color: $secondary;
$select-bg-color: $primary;

/* Base variables */
$base-color: $black;
$base-bg-color: $white;

/*
 ** ====================================================
 ** Font families
 ** ====================================================
 */

$ff-inter: var(--font-family-inter), sans-serif;

$ff-serif: $ff-inter;
$ff-sans-serif: $ff-inter;

$base-font-family: $ff-sans-serif;

/* 
 ** ====================================================
 ** Font sizes
 ** ====================================================
 */

/* Small sizes */
$fs-xxs: 0.5rem; // 8px, for micro text
$fs-xs: 0.625rem; // 10px, for fine print
$fs-sm: 0.75rem; // 12px, for small text
$fs-regular-sm: 0.875rem; // 14px, for secondary body text

/* Body text sizes */
$fs-regular: 1rem; // 16px, base body text
$fs-regular-lg: 1.125rem; // 18px, for slightly larger body text
$fs-md: 1.25rem; // 20px, for subheadings or standout text

/* Larger sizes for prominent text */
$fs-lg: 1.5rem; // 24px, medium prominent text
$fs-lg-md: 1.75rem; // 28px, larger prominent text
$fs-xl: 2rem; // 32px, extra-large prominent text
$fs-xxl: 2.25rem; // 36px, extra-extra-large prominent text

/* Display and hero sizes */
$fs-display-sm: 2.5rem; // 40px, small display text
$fs-display-md: 3rem; // 48px, medium display text
$fs-display-lg: 3.5rem; // 56px, large display text
$fs-display-xl: 4rem; // 64px, extra-large display text
$fs-display-xxl: 4.5rem; // 72px, hero or banner text

$base-font-size: $fs-regular;

/* 
 ** ====================================================
 ** Font weights
 ** ====================================================
 */

$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$base-font-weight: $fw-regular;

/*
 ** ====================================================
 ** Breakpoints
 ** ====================================================
 */
$bkp-xxl: 1440px;
$bkp-xl: 1280px;
$bkp-l: 1024px;
$bkp-m: 768px;
$bkp-s: 600px;
$bkp-xs: 480px;
$bkp-xxs: 320px;

/*
 ** ====================================================
 ** Transitions
 ** ====================================================
 */

$ease-in: cubic-bezier(0.4, 0, 1, 1); // Ease-in
$ease-out: cubic-bezier(0, 0, 0.2, 1); // Ease-out
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1); // Ease-in-out

/*
 ** ====================================================
 ** Border radius
 ** ====================================================
 */
$border-radius-sm: 0.625rem; // 10px
$border-radius-regular: 0.95rem; // 15px
$border-radius-md: 1.5rem; // 24px
$border-radius-lg: 2rem; // 32px

/*
 ** ====================================================
 ** Spacing
 ** ====================================================
 */
$spacing-xxxs: 0.0625rem; // 1px
$spacing-xxs: 0.125rem; // 2px
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-regular-sm: 0.75rem; // 12px
$spacing-regular: 1rem; // 16px
$spacing-md: 1.25rem; // 20px
$spacing-lg: 1.5rem; // 24px
$spacing-xl: 2rem; // 32px
$spacing-xxl: 2.5rem; // 40px
$spacing-xxxl: 3rem; // 48px
$spacing-huge-xs: 4rem; // 64px
$spacing-huge-sm: 4.5rem; // 72px
$spacing-huge: 5rem; // 80px
$spacing-huge-lg: 5.5rem; // 88px
$spacing-huge-xl: 6rem; // 96px
$spacing-huge-xxl: 6.5rem; // 104px

/*
 ** ====================================================
 ** Box shadow
 ** ====================================================
 */
$box-shadow-sm: 0 0 4px rgba($grey, 0.5);
$box-shadow-classic: 0 0 4px rgba($black, 0.3);
$box-shadow-blurry: 2px 2px 12px rgba($black, 0.2);
