@use './variables' as *;

/* 
 ** Mixin for flex
 */
@mixin flex(
  $justify: center,
  $align: center,
  $direction: row,
  $gap: 0,
  $wrap: nowrap
) {
  & {
    display: -webkit-box; /* Safari fix */
    display: -webkit-flex; /* Safari fix */
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
  }
}

/*
 * Mixin for grid
 */
@mixin grid($justify: center, $align: center, $cols: 12, $rows: auto, $gap: 0) {
  & {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    @if $rows == auto {
      grid-auto-rows: auto;
    } @else {
      grid-template-rows: repeat($rows, 1fr);
    }
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }
}

/*
 ** Mixin for container
 */
@mixin container($max-width: $bkp-xxl) {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-md;
  padding-right: $spacing-md;

  // Extra extra small devices (320px and up)
  @media (min-width: $bkp-xxs) {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
  }
  // Extra small devices (480px and up)
  @media (min-width: $bkp-xs) {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
  }
  // Small devices (600px and up)
  @media (min-width: $bkp-s) {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
  }
  // Medium devices (768px and up)
  @media (min-width: $bkp-m) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  // Large devices (1024px and up)
  @media (min-width: $bkp-l) {
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
  }
  // Extra large devices (1280px and up)
  @media (min-width: $bkp-xl) {
    padding-left: $spacing-xxl;
    padding-right: $spacing-xxl;
  }
  // Extra extra large devices (1440px and up)
  @media (min-width: $bkp-xxl) {
    padding-left: $spacing-xxxl;
    padding-right: $spacing-xxxl;
  }
}

/*
 ** Mixin for link
 */
@mixin link(
  $color: $blue,
  $hover-color: darken($color, 10%),
  $underline: underline
) {
  color: $color;
  text-decoration: $underline;

  &:hover {
    color: $hover-color;
  }
}

/*
 ** Mixin for button styling
 */
@mixin button-variant($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;

  &:hover,
  &:focus {
    background-color: darken($bg-color, 2%);
    outline: none;
  }

  &:active {
    transform: translateY(0);
  }
}

/*
 ** Mixin for filter on top of other elements
 */
@mixin filter-on-top($z-index: 1) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index;
}

/*
 ** Mixin to set responsive font sizes
 */
@mixin responsive-text($min-size, $max-size) {
  font-size: $min-size;

  @media (min-width: 768px) {
    font-size: $max-size;
  }
}

/*
 ** Mixin to visually hide elements
 */
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
 ** Mixin to center an element absolutely
 */
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 ** Mixin to truncate text
 */
@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
 ** Mixin to style text stroke
 */
@mixin text-stroke($color: $black, $stroke: 0.1rem) {
  color: $white;
  -webkit-text-stroke: $color $stroke;
  text-stroke: $color $stroke;
}

/*
 ** Mixin to style placeholder text
 */
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

/*
 ** Mixin to style input focus
 */
@mixin input-focus($color: #000) {
  &:focus {
    outline: none;
    border-color: $color;
    box-shadow: 0 0 5px rgba($color, 0.5);
  }
}

/*
 ** Mixin to style button focus
 */
@mixin clicking-zone($width: 100%) {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: $width;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
 ** Mixin to style dropdown
 */
@mixin dropdown($z-index: 1) {
  display: block;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  background: $white;
  z-index: $z-index;

  &[data-state='open'] {
    animation: slideDownShow 0.5s $ease-in-out forwards;
  }
  &[data-state='closed'] {
    animation: slideUpHide 0.5s $ease-in-out forwards;
  }
}

/*
 ** Mixin to style accordion
 */
@mixin accordion($spacing: $spacing-regular) {
  @include flex(flex-start, flex-start, column, $spacing);

  & {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &[data-state='open'] {
    animation: openAccordion 0.5s $ease-in-out forwards;
  }
  // &[data-state='closed'] {
  //   animation: closeAccordion 0.5s $ease-in-out forwards;
  // }
}

/*
 ** Mixin to style title
 */
@mixin title(
  $font-size: $fs-xxl,
  $font-weight: $fw-light,
  $font-style: normal,
  $line-height: normal,
  $color: $black
) {
  font-family: $ff-serif !important;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  color: $color;
}

/*
 ** Mixin to style text
 */
@mixin text(
  $font-size: $fs-regular,
  $font-weight: $fw-light,
  $font-style: normal,
  $line-height: normal,
  $color: $black
) {
  font-family: $ff-sans-serif !important;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  color: $color;
}
